extends ../layout

block content
	mixin formatAccessLevel(accessLevel)
		-if (accessLevel == "owner")
			span Propriétaire
		-else if (accessLevel == "readWrite")
			span Lecture et Ecriture
		-else if (accessLevel == "readOnly")
			span Lecture Seule
		-else
			span Inconnu?

	mixin tag(project_id, tagName, showDeleteIcon)
		span.label.label-info.tag-label(data-project-id=project_id, data-tag=tagName)
			span.text #{tagName}
			- if (showDeleteIcon)
				i.icon-remove.icon-white.delete-tag(data-project-id=project_id, data-tag=tagName)

	mixin projectList(projects)
		-each project in projects
			- project_id = project._id.toString()
			.project_entry(id=project_id)
				.btn-group.project-actions
					a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Actions
						span.caret
					ul.dropdown-menu.pull-right(role="menu")
						li
							a(href='/project/'+project_id+'/clone', data-csrf=csrfToken).cloneProject Cloner le Projet
						-if (project.accessLevel == "owner")
							li
								a(href='/project/'+project_id, data-name=project.name, data-id=project_id, data-csrf=csrfToken).deleteProject Supprimer le Projet
						-else
							li
								a(href='/project/'+project_id+'/leave', data-name=project.name, data-id=project._id, data-csrf=csrfToken).leaveProject Fermer le Projet
						li
							a(href='/project/'+project._id+'/download/zip').downloadZip Télécharger en Zip
				a.projectName(href="/project/#{project._id}") #{project.name}
				.projectDetails
					span Last modified on
					span.isoDate #{project.lastUpdated.toISOString()}
					span &nbsp; - &nbsp;
					span #{formatPrivlageLevel(project.publicAccesLevel)}
					span &nbsp; - &nbsp;
					mixin formatAccessLevel(project.accessLevel)
				.project-tags(data-project-id=project_id)
					- each tag in project.tags
						mixin tag(project_id, tag.name, true)
					span.new-tags
						span.newTagLocation
						span.label.addTagButton(data-project-id=project_id) Add Tag
							i.icon-plus.icon-white

						div
							input(placeholder='Tag Name', name='tags', style="display: none;", data-project-id=project_id).tags-input

	include ../general/sidebar

	.content-with-navigation-sidebar
		.box#projectListArea

			.row-fluid
				.span12
					.page-header
						.btn-group.pull-right#newProject
							a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") New Project
								span.caret
							ul.dropdown-menu.pull-right(role="menu")
								li
									a.normalText#blankNewProject(href="#", data-csrf=csrfToken) Projet Vide
								li
									a.normalText#newProjectExample(href="#", data-csrf=csrfToken) Projet Modèle
								li
									a.normalText#newProjectBeamer(href="#", data-csrf=csrfToken) Présentation Beamer
								li
									a.normalText#uploadNewProject(href="#", data-csrf=csrfToken) Uploader un Projet Zippé
								li.divider
						h1 Projets
			- if (projects.length > 0)
				.row-fluid
					.span9
						form.search
							input#projectFilter(placeholder='Search Projects', autofocus='autofocus').span6.projectSearch.search-query
							i.icon-search
							i.icon-remove
						ul#projectList
							mixin projectList(projects)

					.span3
						.tag-list
							h2 Tags
							#allProjectTagsArea
								ul
									- each tag in tags
										-if (tag.project_ids.length > 0)
											li
												mixin tag("", tag.name, false)
												span.number x #{tag.project_ids.length}

			- else
				.row-fluid
					.span12
						.sharelatex-intro
							.create-project-arrow Créer un Projet
							.welcome
								h2 Bienvenue sur le service LaTeX de l'ENSTA (ShareLaTeX)!
								p Débutant en LaTeX? Jetez un oeil au manuel de Babafou
									a(href="http://www.babafou.eu.org/Apprends_LaTeX/Apprends_LaTeX.pdf") Apprends LaTeX


			if freeTrial && freeTrial.expired == false
				.row-fluid
					.span12
						.alert.alert-info.alert-free-trial
							p You are currently using a free trial which expires on #{freeTrial.expiresAt}.
							p
								a(href="/user/subscription").btn.btn-primary Upgrade now
			if freeTrial && freeTrial.expired == true
				.row-fluid
					.span12
						.alert.alert-danger.alert-free-trial
							p Your free trial has expired! Upgrade now to continue using ShareLaTeX uninterrupted.
							p
								a(href="/user/subscription").btn.btn-danger Upgrade now

		include ../general/small-footer
	script(type="text/template")#tagTemplate
		mixin tag('{{ project_id }}', '{{ tagName }}', true)

	- locals.supressDefaultJs = true
	script
		window.requirejs = {
			"paths" : {
				"moment": "libs/moment"
			}
		};
	script(
		data-main=jsPath+'list.js?fingerprint='+fingerprint(jsPath + 'list.js'),
		baseurl=jsPath,
		src=jsPath+'libs/require.js?fingerprint='+fingerprint(jsPath + 'libs/require.js')
	)

