extends ../layout

block content
	include ../general/sidebar

	.content-with-navigation-sidebar
		.box
			.row-fluid
				.span12
					.page-header
						h1 Paramètres
					.messageArea
					.tabbable
						ul.nav.nav-tabs
							li.active
								a(href='#personalSettings', data-toggle="tab") Personnels
							li
								a(href='#editorSettings', data-toggle="tab") Editeur
							li
								a(href='#passwordReset', data-toggle="tab") Mot de Passe
							li
								a(href='#deleteAccount', data-toggle="tab") Supprimer Compte

						form#userSettings.tab-content.form-horizontal
							input(type="hidden", name="_csrf", value=csrfToken)
							.tab-pane#personalSettings.active
								.control-group
									label(for='firstName').control-label Prénom
									.controls
										input#firstName(type='text', name='first_name', value=user.first_name)
								.control-group
									label(for='lastName').control-label Nom
									.controls
										input#lastName(type='text', name='last_name', value=user.last_name)
								.form-actions
									button.btn.btn-primary.large(type='submit') Appliquer


							.tab-pane#editorSettings
								.control-group
									label(for='theme').control-label Thème &nbsp;
										a(href='/themes') (aperçu)
									.controls
										select(name='theme')#theme
											each theme in themes
												if(theme.name == user.ace.theme)
													option(value=theme.name, selected='selected')= theme.name
												else
													option(value=theme.name)= theme.name
								.control-group
									label(for='mode').control-label Raccourcis
									.controls
										select(name='mode')#mode
											each mode in editors
												if(mode == user.ace.mode)
													option(value=mode, selected='selected')= mode
												else
													option(value=mode)= mode
								.control-group
									label(for='fontSize').control-label Taille de Police
									.controls
										select(name='fontSize')#fontSize
											each fontSize in fontSizes
												if(fontSize == user.ace.fontSize)
													option(value=fontSize, selected='selected')= fontSize
												else
													option(value=fontSize)= fontSize

								.control-group
									label(for='autoComplete').control-label
										| Auto complétion
									.controls
										if (user.ace.autoComplete)
											label.radio.inline
												input(type='radio', name='autoComplete', value='true', checked)
												| On
											label.radio.inline
												input(type='radio', name='autoComplete', value='false')
												| Off
										else
											label.radio.inline
												input(type='radio', name='autoComplete', value='true')
												| On
											label.radio.inline
												input(type='radio', name='autoComplete', value='false', checked)
												| Off

								.control-group
									label(for='spellCheck').control-label
										| Langue de vérification d'orthographe par défaut
									.controls
										select(name="spellCheckLanguage")
											option(value="",selected=(user.ace.spellCheckLanguage == "")) Off
											optgroup(label="Language")
												for language in languages
													option(
														value=language.code,
														selected=(language.code == user.ace.spellCheckLanguage)
													)= language.name

								.control-group
									label(for="pdfViewer").control-label
										| Visualisateur PDF
									.controls
										if (user.ace.pdfViewer == "native")
											label.radio.inline
												input(type='radio', name='pdfViewer', value='native', checked)
												| Natif (Meilleure Qualité d'Image)
											br
											label.radio.inline
												input(type='radio', name='pdfViewer', value='pdfjs')
												| Intégré (la page PDF reste identique après recompilation)
										else
											label.radio.inline
												input(type='radio', name='pdfViewer', value='native')
												| Natif (Meilleure Qualité d'Image)
											br
											label.radio.inline
												input(type='radio', name='pdfViewer', value='pdfjs', checked)
												| Intégré (la page PDF reste identique après recompilation)


								.form-actions
									button.btn.btn-primary.large(type='submit') Appliquer

							.tab-pane#passwordReset
								a#changePassword.btn Changer le Mot de Passe

							.tab-pane#deleteAccount
								a#deleteUserAccount.btn.btn-danger(data-csrf=csrfToken) Supprimer le Compte


		include ../general/small-footer

	#changePasswordModal(style='display: none')
		.modal
			form#changePasswordForm(method="post", action="/user/password/update")
				.modal-header
					h3 Changer le Mot de Passe
				.modal-body
					input(type="hidden", name="_csrf", value=csrfToken)
					.clearfix
						label(for='xlinput.inputmodal') Mot de passe actuel
						.input.inputmodal
							input.inputmodal.span5#currentPassword(type='password', name='currentPassword', placeholder='*********')
					.clearfix
						label(for='xlinput.inputmodal') Nouveau Mot de passe
						.input.inputmodal
							input.inputmodal.span5#newPassword1(type='password', name='newPassword1', placeholder='************')
					.clearfix
						label(for='xlinput.inputmodal') Nouveau Mot de passe
						.input.inputmodal
							input.inputmodal.span5#newPassword2(type='password', name='newPassword2', placeholder='************')
				.modal-footer
					button(type="submit").btn.btn-primary#confirmPasswordChange Changer
					button.btn.cancel Annuler
